# 忽略上传的图片文件
static/uploads/*
!static/uploads/.gitkeep

# 忽略Python缓存文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 忽略虚拟环境
venv/
ENV/

# 忽略日志文件
*.log 


# 环境变量文件
.env.local
.env.*.local

# 模型文件
models/
checkpoints/
weights/
**/Qwen2.5*
.vscode/